<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="MembershipVO" type="org.example.fanzip.membership.domain.MembershipVO"/>
        <typeAlias alias="Payments" type="org.example.fanzip.payment.domain.Payments"/>
    </typeAliases>

    <mappers>
        <mapper resource="org/example/fanzip/membership/mapper/MembershipMapper.xml"/>
        <mapper resource="org/example/fanzip/market/mapper/MarketMapper.xml"/>
    </mappers>

</configuration>
