<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.fanzip.market.mapper.MarketMapper">

    <!-- limit 개수만큼 최신 상품 조회 (1페이지) -->
    <select id="getAllProducts"
            resultType="org.example.fanzip.market.dto.ProductListDto"
            parameterType="int">
        select
            product_id          as productId,
            name,
            price,
            discounted_price    as discountedPrice,
            discount_rate       as discountRate,
            thumbnail_image     as thumbnailImage,
            stock
        from Products
        where status='ACTIVE'
        order by product_id DESC
        LIMIT #{limit}
    </select>

    <!-- lastProductId 이후 커서 페이징 -->
    <select id="getProductsAfter"
            resultType="org.example.fanzip.market.dto.ProductListDto"
            parameterType="map">
        select
            product_id          as productId,
            name,
            price,
            discounted_price    as discountedPrice,
            discount_rate       as discountRate,
            thumbnail_image     as thumbnailImage,
            stock
        FROM Products
        WHERE status = 'ACTIVE'
            and product_id &lt; #{lastProductId}
        ORDER BY product_id DESC
        LIMIT #{limit}
    </select>

<!--    &lt;!&ndash; 내등급 확인 &ndash;&gt;-->
<!--    <select id="findMyGrade"-->
<!--            resultType="java.lang.Integer"-->
<!--            parameterType="map">-->
<!--        select grade_id  as gradeId-->
<!--        from memberships-->
<!--        where user_id = #{userId}-->
<!--          and influencer_id = #{influencerId}-->
<!--          and status = 'ACTIVE'-->
<!--        limit 1-->
<!--    </select>-->

    <!-- 상세 상품 내역 조회 -->
    <select id="findProductById"
            resultType="org.example.fanzip.market.dto.ProductDetailDto"
            parameterType="map">
        select
            p.product_id            as productId,
            p.influencer_id         as influencerId,
            p.name,
            p.description,
            p.price,
            p.discounted_price      as discountedPrice,
            p.discount_rate         as discountRate,
            p.shipping_price        as shippingPrice,
            p.stock,
            p.thumbnail_image       as thumbnailImage,
            p.detail_images         as detailImages,
            p.description_images    as descriptionImages,
            m.grade_id              as gradeId,
            case m.grade_id
                when 1 then p.white_open_time
                when 2 then p.silver_open_time
                when 3 then p.gold_open_time
                when 4 then p.vip_open_time
                else p.general_open_time
            end                     as openTime,
            case
                when now() >= case m.grade_id
                    when 1 then p.white_open_time
                    when 2 then p.silver_open_time
                    when 3 then p.gold_open_time
                    when 4 then p.vip_open_time
                    else p.general_open_time
                    end
                then true else false
            end                  as isAvailable
        from products p left join memberships m
            on m.user_id = #{userId}
            and m.influencer_id = p.influencer_id
            and m.status = 'ACTIVE'
        where p.product_id = #{productId}
    </select>

    <!-- 검색(1페이지) -->
    <select id="searchProducts"
            parameterType="map"
            resultType="org.example.fanzip.market.dto.ProductListDto">
        select
            product_id          as productId,
            name,
            price,
            discounted_price    as discountedPrice,
            discount_rate       as discountRate,
            thumbnail_image     as thumbnailImage,
            stock
        from products
        where status = 'ACTIVE'
            AND name LIKE CONCAT('%', #{keyword}, '%')
        order by product_id desc
        limit #{limit}
    </select>

    <!-- 검색(중간페이지) -->
    <select id="searchProductsAfter"
            parameterType="map"
            resultType="org.example.fanzip.market.dto.ProductListDto">
        select
            product_id          as productId,
            name,
            price,
            discounted_price    as discountedPrice,
            discount_rate       as discountRate,
            thumbnail_image     as thumbnailImage,
            stock
        from products
        where product_id &lt; #{lastProductId}
          and status = 'ACTIVE'
          and name LIKE CONCAT('%', #{keyword}, '%')
        order by product_id desc
        limit #{limit}
    </select>

    <!-- 재고 조회 -->
    <select id="getStock"
            parameterType="long"
            resultType="int">
        select stock
        from products
        where product_id = #{productId}
    </select>
</mapper>
