<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.fanzip.user.mapper.UserMapper">
    <insert id="insertUser">
        insert into Users
            (social_type, social_id, name, phone, email)
        values (#{socialType}, #{socialId}, #{name}, #{phone}, #{email})
        <selectKey resultType="Long" keyProperty="userId" keyColumn="user_id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <update id="updateAdditionalInfo">
        update Users
        set name=#{additionalInfoDTO.name},
            phone=#{additionalInfoDTO.phone},
            email=#{additionalInfoDTO.email},
            updated_at=current_timestamp
        where social_type=#{socialType} and social_id=#{socialId}
    </update>

    <select id="findBySocialTypeAndSocialId" resultType="org.example.fanzip.user.dto.UserDTO">
        select * from Users
                 where social_type=#{socialType} and social_id=#{socialId}
    </select>
    <select id="getUser" resultType="org.example.fanzip.user.dto.UserDTO">
        select * from Users where user_id=#{userId}
    </select>
</mapper>

