<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.fanzip.influencer.mapper.InfluencerMapper">

    <resultMap id="InfluencerResultMap" type="org.example.fanzip.influencer.domain.InfluencerVO">
        <id column="influencer_id" property="influencerId"/>
        <result column="influencer_name" property="influencerName"/>
        <result column="category" property="category" javaType="org.example.fanzip.influencer.domain.enums.InfluencerCategory"/>
        <result column="profile_image" property="profileImage"/>
    </resultMap>

    <resultMap id="InfluencerDetailResultMap" type="org.example.fanzip.influencer.domain.InfluencerVO">
        <id column="influencer_id" property="influencerId"/>
        <result column="influencer_name" property="influencerName"/>
        <result column="category" property="category" javaType="org.example.fanzip.influencer.domain.enums.InfluencerCategory"/>
        <result column="profile_image" property="profileImage"/>
        <result column="description" property="description"/>
    </resultMap>

    <select id="findAllFiltered" resultMap="InfluencerResultMap" parameterType="map">
        SELECT
        influencer_id, influencer_name, category, profile_image

        FROM influencers

        <where>
            <!--
            유저가 이미 구독중인 인플루언서는 제외하고 보여줌
            AND
            카테고리 필터링
             -->
            influencer_id NOT IN (
            SELECT influencer_id
            FROM memberships
            WHERE user_id = #{userId}
            )

            <if test="category != null">
                AND category = #{category}
            </if>
        </where>
    </select>


    <!-- 상세 조회 -->
    <select id="findDetailed" resultMap="InfluencerDetailResultMap" parameterType="long">
        SELECT influencer_id, influencer_name, profile_image, description
        FROM influencers
        WHERE influencer_id = #{influencerId}
    </select>

    <!-- 마이페이지: 프로필 조회 -->
    <select id="findProfile" resultMap="InfluencerDetailResultMap" parameterType="long">
        SELECT influencer_id, influencer_name, category, profile_image, description
        FROM influencers
        WHERE influencer_id = #{influencerId}
    </select>

    <!-- 마이페이지: 프로필 수정 -->
    <update id="updateProfile" parameterType="map">
        UPDATE influencers
        SET influencer_name = #{influencerName},
            description = #{description},
            category = #{category},
            updated_at = NOW()
        WHERE influencer_id = #{influencerId}
    </update>

    <!-- 마이페이지: 프로필 이미지 수정 -->
    <update id="updateProfileImage" parameterType="map">
        UPDATE influencers
        SET profile_image = #{profileImage},
            updated_at = NOW()
        WHERE influencer_id = #{influencerId}
    </update>
</mapper>
